body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #ECEFF1;
  height: 75px;
  align-items: center;
  display: flex;
}


.logo {
  height: 61px;
}

.footer-logo {
  max-width: 100px;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  margin-top: auto;
  background-color: #052d40;
  padding: 10px 10px 10px 0px;
  color: #fff;
}

