body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {

}

.header-logo {
  height: 82px;
}

.footer-logo {
  object-fit: contain;
  object-position: right center;
  max-width: 112px;
}

li {
  list-style-type: none;
}



.brands-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 40px;
}


footer {
  margin-top: auto;
  background-color: #052d40;
  padding: 10px 10px 10px 0px;
  color: #fff;
  background-image:url('https://assets-us-01.kc-usercontent.com:443/1edcf8ca-f650-0075-67cf-7b089bed18e8/93acb25c-3cff-4ce2-ac06-e1bd3894ad98/footer-bg.png');
}

